@import '../const.scss';

* {
  margin: 0;
  padding: 0;
}

html {
  font-size: 15px;
}

body {
  background-color: lighten($colorBorder, 4%);
  color: $colorText;
  font-size: 1rem;
  font-family: $fontFamily;
  line-height: 28px;
  -webkit-font-smoothing: antialiased;
}

// 超链接文本
.links {
  color: $colorPrimaryLight;

  &:hover {
    text-shadow: 0 1px 3px fade-out($colorPrimaryLight, 0.8);
  }
}

button,
input,
select {
  font-family: inherit;
}

.tangram-suggestion-main {
  z-index: 999;
}

/*
 * 公共样式
 */
.flex_1 {
  flex: 1;
}

.dis_flex {
  display: flex;
}

.flex_dir_col {
  flex-direction: column;
}

.ju_con_cen {
  justify-content: center;
}

.ju_con_end {
  justify-content: flex-end;
}

.ali_it_cen {
  align-items: center;
}

.w_80 {
  width: 80px;
}

.min_w_80 {
  min-width: 80px;
}

.w_120 {
  width: 120px;
}

.w_150 {
  width: 150px;
}

.w_200 {
  width: 200px;
}

.w_200_ipt {
  width: 200px !important;
}

.w_240 {
  width: 240px;
}

.w_400 {
  width: 400px;
}

.w_percent_100 {
  width: 100%;
}

.h_1 {
  height: 1px;
}

.h_120 {
  height: 120px;
}

.m_l_neg_1 {
  margin-left: -1px;
}

.m_l_0_ipt {
  margin-left: 0px !important;
}

.m_l_10 {
  margin-left: 10px;
}

.m_l_64 {
  margin-left: 64px;
}

.m_t_neg_4 {
  margin-top: -4px;
}

.m_t_6 {
  margin-top: 6px;
}

.m_t_6_ipt {
  margin-top: 6px !important;
}

.m_t_10 {
  margin-top: 10px;
}

.m_t_20 {
  margin-top: 20px;
}

.m_r_10 {
  margin-right: 10px;
}

.m_0_10 {
  margin: 0 10px;
}

.font_16 {
  font-size: 16px;
}

.font_bold {
  font-weight: bold;
}

.col_FF5454 {
  color: #ff5454;
}

.bg_col_ddd {
  background: #ddd;
}

.bor_b_sol_1_ddd {
  border-bottom: solid 1px ddd;
}

.bor_dashed_1_ddd {
  border: dashed 1px #ddd;
}

.bor_solid_1_blue {
  border: solid 1px #09f;
}

.bor_rad_4 {
  border-radius: 4px;
}

.cur_pot {
  cursor: pointer;
}
