@import "../const.scss";

/**
 数据展示，用法如下：
 <div class="data">
  <div class="data-header">
    <div class="sub expand">
      <!-- 通常展示搜索表单 -->
      <el-form></el-form>
    </div>
    <div class="sub">
      <!-- 通常展示子菜单导航、操作按钮 -->
      <el-button>新建</el-button>
      <el-button>导出</el-button>
    </div>
  </div>
  <div class="data-body">
    <el-table></el-table>
  </div>
  <div class="data-header">
    <div class="sub expand">
      <el-button>全选</el-button>
      <el-button>反选</el-button>
    </div>
    <div class="sub">
      <!-- 通常展示分页 -->
      <el-pagination />
    </div>
  </div>
 </div>
 */
.data {
  position: relative;

  // 表头和表底
  &-header,
  &-footer {
    align-items: flex-start;
    display: flex;
    justify-content: flex-end;

    & > .sub {
      align-items: flex-start;
      display: flex;

      &:last-of-type {
        justify-content: flex-end;
      }

      &.expanded {
        flex: 1;
      }
    }
  }

  &-header {
    position: relative;

    /deep/.el-form-item {
      margin-bottom: $void;
      margin-right: $void;

      &:last-of-type {
        margin-right: 0;
      }
    }
  }

  &-footer {
    margin-top: $voidLarge;
  }

  &-body {
    position: relative;
  }
}
