@import '../const.scss';

// 数据展示
.data {
  display: flex;
  flex-direction: column;
  // height: 100%;
  position: relative;

  // 表头和表底
  &-header,
  &-footer {
    align-items: center;
    flex-shrink: 0;
    display: flex;
    justify-content: flex-end;

    & > .sub {
      align-items: center;
      display: flex;

      &:last-of-type {
        justify-content: flex-end;
      }

      &.expanded {
        flex: 1;
      }
    }
  }

  &-header {
    margin-bottom: 0;

    /deep/.el-form-item {
      margin-bottom: $void;
      margin-right: $void;
    }
  }

  &-footer {
    margin-top: $voidLarge;
  }

  &-body {
    flex: 1;
    overflow: hidden;
    position: relative;
  }
}
