// 信息表格
.info-table {
  display: flex;
  flex-wrap: wrap;
  position: relative;

  & > .item {
    box-sizing: border-box;
    flex-shrink: 0;
    padding: 8px;
    width: 25%;

    & > .label {
      color: $colorTextLight;
      font-size: 0.9rem;
    }

    & > .value {
      word-wrap: preline;
      word-break: break-all;
    }
  }

  // 分列
  &.split-2 > .item {
    min-width: 50%;
  }

  &.split-3 > .item {
    min-width: 33.333333%;
  }

  // 通栏展示
  & > .item.flex {
    min-width: 100%;
  }
}
