@import '../const.scss';

// 消息
.el-message {
  min-width: unset;
}

// 弹窗
.el-dialog {
  border-radius: 8px;
}

.el-message-box {
  border-radius: 12px;
  padding: 0;
}

.el-message-box__header {
  border-bottom: 1px $colorBorder solid;
  padding: $void;
}

.el-message-box__title {
  align-items: center;
  display: flex;
  font-size: 1rem;
  font-weight: bold;
  line-height: 32px;
  justify-content: center;
}

.el-message-box__content {
  padding: 40px !important;
}

.el-message-box__btns {
  border-top: 1px $colorBorder solid;
  align-items: center;
  display: flex;
  justify-content: center;
  padding: $void * 1.5;
}

// 分页
.el-pagination {
  color: #898ebb;
  font-weight: normal;
}

.el-pager li {
  border-radius: 3px;
  margin: 0 4px;
  min-width: 28px;
  padding: 0;
}

// 表格
.el-table--striped .el-table__body tr.el-table__row--striped td {
  background-color: fade-out($bg, 0.5);
}
.el-table thead th {
  background-image: linear-gradient(to bottom, #fff, fade-out($bg, 0.2));
  font-weight: bold;
}

// 穿梭框
.el-transfer-panel .el-transfer-panel__header .el-checkbox .el-checkbox__label {
  color: $colorText;
  font-size: 0.95rem;
  font-weight: bold;
}

.el-tooltip__popper {
  font-size: 12px;
}

// 表格表头中的排序箭头
.el-table .caret-wrapper {
  position: absolute;
  top: 50%;
  margin-top: -16px;
}
